    /* Указываем box sizing */
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    /* Убираем внутренние отступы */
    
    ul[class],
    ol[class] {
        padding: 0;
    }
    /* Убираем внешние отступы */
    
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    ul[class],
    ol[class],
    li,
    figure,
    figcaption,
    blockquote,
    dl,
    dd {
        margin: 0;
    }
    /* Выставляем основные настройки по-умолчанию для body */
    
    body {
        min-height: 100vh;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
    }
    /* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
    
    ul[class],
    ol[class] {
        list-style: none;
    }
    /* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
    
    a:not([class]) {
        text-decoration-skip-ink: auto;
    }
    /* Упрощаем работу с изображениями */
    
    img {
        max-width: 100%;
        display: block;
    }
    /* Указываем понятную периодичность в потоке данных у article*/
    
    article {
        margin-top: 1em;
    }
    /* Наследуем шрифты для инпутов и кнопок */
    
    input,
    button,
    textarea,
    select {
        font: inherit;
    }
    /* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
    
    @media (prefers-reduced-motion: reduce) {
        * {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
    
    .main {
        padding-top: 72px;
        margin-bottom: 100px;
    }
    
    .page-nav {
        margin: 0 164px;
    }
    
    .site-navigation {
        vertical-align: middle;
        padding: 0px;
        list-style: none;
        text-align: center;
        font-family: MyriadPro;
        font-weight: regular;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .site-navigation li {
        display: inline-block;
        list-style: none;
        line-height: 1.714;
    }
    
    .site-navigation li a {
        color: #707070;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .site-navigation li:not(:last-child) {
        margin-right: 60px;
    }
    
    .site-navigation li a:hover,
    .site-navigation li a:focus {
        color: #9addfb;
    }
    
    .features-list {
        margin: 0;
        padding: 0;
    }
    
    .features-list-item {
        width: 420px;
        padding: 0;
        margin: 0 60px 130px 0;
        display: inline-block;
    }
    
    .features-list-item:nth-child(2n) {
        margin-right: 0;
    }
    
    .features-list-item:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }
    
    .features-list-item .category {
        font-size: 14px;
        font-family: "Ubuntu";
        color: rgb(180, 173, 158);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 16px;
        font-weight: 300;
    }
    
    .features-list-item .title {
        font-size: 30px;
        color: rgb(98, 98, 98);
        line-height: 1.2;
        margin-bottom: 36px;
    }
    
    .features-list-item .description {
        font-size: 14px;
        color: rgb(98, 98, 98);
        line-height: 1.714;
        text-align: left;
    }
    
    .features-list-item:nth-last-child(-n +2) {
        margin-bottom: 52px;
    }
    
    .container {
        width: 900px;
        margin: 0 auto;
        font-size: 0px;
        padding: 0;
    }
    
    .photo-wrapper {
        width: 420px;
        height: 280px;
        margin-bottom: 30px;
        display: inline-block;
    }
    
    .photo {
        width: 420px;
        height: 280px;
        margin-bottom: 32px;
    }
    
    .button {
        padding: 0;
        margin-bottom: 70px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
    }
    
    button {
        height: 60px;
        width: 164px;
        color: #7d7d7d;
        background: white;
        cursor: pointer;
    }